* {
  margin: 0;
  padding: 0;
  font-family: 'Poopins', sans-serif;
  box-sizing: border-box;

  text-align: center;
}

body {
  background-color: rgb(10, 10, 10);
  animation: background 20s infinite ease-in-out;
  padding: 10px;
}

.container-info {
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-info h1 {
  padding: 5px;

  max-width: 70vw;

  background-color: rgb(235, 235, 235);
  box-shadow: 3px 3px #383838;
  border-radius: 4px;

  display: inline-block;
  justify-content: center;
  align-items: center;

  color: rgb(116, 116, 116);
}

.container-info span {
  padding: 10px;

  display: inline-block;
  align-items: center;
  justify-content: center;

  background-color: rgb(59, 59, 59);
  border-radius: 4px;

  color: rgb(250, 250, 250);
}

.container-grid{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content: center;
  align-items: top;

  margin: 30px auto 0;
}

.search-button {
  padding: 0 10px;

  border: none;
  outline: none;

  font-size: 22px;
  color: rgb(27, 27, 27);
  background-color: unset;

  border-radius: 5px;
  cursor: pointer;
}

.search-box {
  width: 35vw;
  background-color: rgb(235, 235, 235);
  box-shadow: 3px 3px #a7a7a7;
  border-radius: 3px;

  color: rgb(39, 39, 39);
}

.row {
  display: flex;
  align-items: center;
  padding: 6px 10px;
}

input {
  flex: 1;
  height: 30px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 17px;

  overflow: hidden;

  color: rgb(39, 39, 39);

  text-align: left;
}

.container-result{
  background-color: rgb(10, 10, 10);
  border: 1px solid #a7a7a7;
  border-radius: 3px;
  box-shadow: 0 0 2px #ffffff96;

  width: 27.2vw;
  height: 22vh;
  image-rendering: optimizeSpeed;
  min-height: 100px;
  min-width: 200px;
}

.result-box ul {
  border-top: 1px solid #333333;
  padding: 5px 10px;
}

.result-box ul li {
  text-align: left;
  list-style: none;
  border-radius: 3px;
  padding: 10px 0;
  cursor: pointer;

  transition: background-color 0.5s;
  transition: scale 0.5s;
}

.result-box ul li:hover {
  background-color: #2e2e2e;
  color: aliceblue;
  scale: 1.01;
}

.result-box {
  max-height: 160px;
  overflow-y: scroll;
}

.container-result {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  perspective: 800px;
}

.game-image {
  width: 27.2vw;
  height: 21.8vh;
  min-height: 100px;
  min-width: 200px;

  border-radius: 3px;
  transition: scale 0.5s;
}

.painel-animation {
  animation: image-rotate 1s infinite;
}

.popup {
  animation: popup 0.4s;
}

.hide {
  display: none;
  opacity: 0;
}

.game-image:hover {
  scale: 1.05;
}

@keyframes image-rotate {
  0% {
    scale: 1;
    top: 0px;
  }

  20% {
    transform: rotateX(10deg);
  }

  30% {
    scale: 1.03;
  }

  100% {
    scale: 1;
  }
}

@keyframes popup {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.2;
    transform: rotateY(10deg);
  }

  70% {
    transform: rotateX(-10deg);
  }

  100% {
    scale: 1;
    transform: rotateY(0);
    transform: rotateX(0);
  }
}

@keyframes background {
  0% {
    background-color: rgb(10, 10, 10);
  }

  25% {
    background-color: rgb(19, 19, 19);
  }

  50% {
    background-color: rgb(0, 0, 0);
  }

  75% {
    background-color: rgb(22, 22, 22);
  }

  100% {
    background-color: rgb(10, 10, 10);
  }
}

::-webkit-scrollbar {
  width: 6px;
}

@media(max-width: 1100px) {
  .container-grid{
    grid-template-columns: auto;
    align-items: top;
    justify-content: center;
  }
  .search-box{
    width: 70vw;
  }
  .game-image{
    width: 350px;
    height: 200px;
  }
  .container-result{
    width: 350px;
    height: 200px;

    margin: auto;
  }
}