:root{
  --cinza-escuro: #131313;
  --preto: #0c0c0c;
  --cinza-claro: #333333;

  --branco-forte: #ffffff;
  --branco-fraco: #ebebeb;

  --cinza: #c4c4c4;

  --dia-underline: #252525;
  --dia-border: #4d4d4d;
  --noite-underline: #d8d8d8;

  --amarelo: #eedf09;
}

body{
  image-rendering: auto;
  background-repeat:repeat-x;

  transition: background-image 0.1s ease-in-out;
}

.container-info {
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-info h1 {
  padding: 5px;
  max-width: 70vw;

  border-radius: 4px;

  display: inline-block;
  justify-content: center;
  align-items: center;

}

body.night .container-info h1{
  background-color: var(--branco-fraco);
  box-shadow: 2px 2px var(--cinza);

  color: var(--cinza-claro);
}
body.day .container-info h1{
  background-color: var(--cinza-claro);
  box-shadow: 2px 2px var(--cinza-escuro);

  color: var(--branco-fraco);
}

.container-info span {
  padding: 6px;
  display: inline-block;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
}

body.night .container-info span {
  background-color: var(--cinza-claro);
  box-shadow: 2px 2px var(--cinza-escuro);
  color: var(--branco-forte);
}

body.day .container-info span {
  background-color: var(--branco-fraco);
  box-shadow: 2px 2px var(--cinza);
  color: var(--cinza-claro);
}

.container-grid{
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  justify-content: center;
  align-items: top;

  margin: 30px auto 0;
}

.search-button {
  padding: 0 10px;

  border: none;
  outline: none;

  font-size: 22px;
  background-color: unset;

  border-radius: 5px;
  cursor: pointer;
}

body.night .search-button {
  color: var(--cinza-escuro)
}

body.day .search-button {
  color: var(--branco-forte)
}

.search-box {
  width: 35vw;
  border-radius: 3px;
}

body.night .search-box {
  background-color: var(--branco-fraco);
  box-shadow: 2px 2px var(--cinza-claro);
  color: var(--cinza-claro);
}

body.day .search-box {
  background-color: var(--cinza-claro);
  box-shadow: 2px 2px var(--dia-underline);
  color: var(--cinza);
}

.row {
  display: flex;
  align-items: center;
  padding: 6px 10px;
}

input {
  flex: 1;
  height: 30px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 17px;
  padding: 0 5px;

  overflow: hidden;

  text-align: left;
}

body.night input {
  color: var(--cinza-claro);
}

body.day input {
  color: var(--cinza);
}

.result-box li {
  text-align: left;
  list-style: none;
  padding: 10px 15px;
  cursor: pointer;

  transition: padding 0.5s, color 0.3s;
}

body.night .result-box li {
  background-color: var(--branco-fraco);
  box-shadow: 0 0 10px var(--noite-underline);
}

body.day .result-box li {
  background-color: var(--cinza-claro);
  box-shadow: 0 0 10px #252525;
}

.result-box li:hover {
  padding-left: 25px;
}
body.night .result-box li:hover {
  background-color: var(--cinza-claro);
  color: var(--branco-forte);
}
body.day .result-box li:hover {
  background-color: var(--branco-forte);
  color: var(--cinza-claro);
}

.result-box {
  max-height: 160px;
  overflow-y: scroll;
}

body.night .result-box {
  border-bottom: 5px solid var(--cinza);
}

body.day .result-box {
  border-bottom: 5px solid var(--dia-border);
}

.blur-image{
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.171);
  backdrop-filter: blur(95px);

  transition: scale 0.5s;
}

.container-image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.painel-animation {
  animation: image-rotate 25s infinite;
}

.popup {
  animation: popup 0.4s;
}

.hide {
  display: none;
  opacity: 0;
}

.game-image:hover {
  scale: 1.05;
}

@keyframes image-rotate {
  0% {
    scale: 1;
  }

  20% {
    transform: rotateX(10deg);
  }

  30% {
    scale: 1.03;
  }

  100% {
    scale: 1;
  }
}

@keyframes popup {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.2;
    transform: rotateY(10deg);
  }

  70% {
    transform: rotateX(-10deg);
  }

  100% {
    scale: 1;
    transform: rotateY(0);
    transform: rotateX(0);
  }
}

@media(max-width: 1100px) {
  .search-box{
    width: 70vw;
  }
  /* .game-image{
    width: 350px;
    height: 200px;
  } */
  .container-result{
    width: 352px;
    height: 202px;

    margin: auto;
  }
  .image-background{
    width: 352px;
    height: 202px;
  }
}
